@use './Navbar/navbar';
@use './Login//login';
@use './Home/home';
@use './Products/products';
@use './Contact/Contact';
@use './Footer/Footer';
@use './Categories/categories';
@use "./Menu/menu";
@use "./About/About";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-size: ;
    color: #2b1d1d;

}

body{
       font-family: "Pathway Gothic One", sans-serif;
    font-weight: 900;
    font-style: normal;
}






