.menu-container {
    width: 100%;
    min-height: 100vh;

    .menu-hero {
        width: 100%;
        height: 100%;
        position: relative;

        .menu-slider {
            width: 100%;
            height: 100%;
            background-color: #000;
            overflow: hidden;


            .menu-slider-img {
                width: 100%;
                height: 100vh;
                opacity: 0.7;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .menu-hero-content {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 85%;
            height: 70%;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-100%, -50%);
            background-color: #00000069;
            border-radius: 1rem 0 0 1rem;
            padding: 2rem 2rem;

            h1 {
                color: #fbca49;
                position: relative;
                font-size: 3rem;
            }

            .menu-hero-buttons {
                display: flex;
                flex-direction: column;
                margin-top: 3rem;

                a {
                    color: #fff;
                    text-decoration: none;
                    letter-spacing: 1.1px;
                    font-size: 1.8rem;
                    width: 35px;
                    padding: 0 0 2.5rem;
                    font-weight: 100;

                }
            }
        }
    }

    .menu-description {
        background-color: #000000e8;
        width: 100%;
        height: auto;

        p {
            font-size: 18px;
            color: #fff;
            padding: 2rem 2.5rem;
            line-height: 1.5;
            font-weight: 100;
            letter-spacing: 1px;
        }

    }

    .menu-highlights {
        width: 100%;
        height: auto;
        margin: 4rem 0;


        .menu-highlight-item {
            padding: 2rem 0;
            text-align: center;
            position: relative;

            .menu-highlight-item-img {
                width: 168px;
                height: 168px;
                border-radius: 50%;
                background-color: #000000;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    opacity: 0.7;
                }

            }

            .menu-highlight-item-details {
                h3 {
                    position: absolute;
                    top: 57%;
                    left: 50%;
                    transform: translate(-50%, -57%);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 1.6rem;
                    padding: 0;
                    background-color: #fbc949;
                    width: 200px;
                    height: 75px;
                    border-radius: 0;
                    border-radius: 0 1rem 1rem 1rem;
                }

                p {
                    max-width: 250px;
                    font-size: 18px;
                    font-weight: 100;
                    letter-spacing: 1px;
                    line-height: 1.5;
                    margin: 3rem auto 0;
                }
            }
        }

        .menu-highlight-item::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0%;
            width: 48%;
            // height: 50%;
            transform: translate(-50%, -0%);
            border-bottom: 1px solid #fbc949
        }
    }

    .menu-products {
        padding: 0 1rem 0;

        .menu-product-content {
            padding: 0 0 2rem;

            h2 {
                color: #fbca49;
                font-size: 30px;
            }

            .menu-product-details {
                margin: 1.5rem 0;

                h3 {
                    width: 100%;
                    font-size: 24px;
                    color: #000000a8;
                }

                .menu-product-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-size: 18px;
                        font-weight: 100;
                        margin: 0.5rem 0 0;
color: #000000a8;
                    }

                    #product-desc {
                        margin-right: 1.5rem;
                    }

                    #product-price {
                        
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .menu-container {
        width: 100%;
        min-height: 100vh;

        .menu-hero {
            width: 100%;
            height: 100%;
            position: relative;

            .menu-slider {
                width: 100%;
                height: 100%;
                background-color: #000;
                overflow: hidden;


                .menu-slider-img {
                    width: 100%;
                    height: 100vh;
                    opacity: 0.7;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .menu-hero-content {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 400px;
                height: 70%;
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translate(-100%, -50%);
                background-color: #00000069;
                border-radius: 1rem 0 0 1rem;
                padding: 2rem 2rem;

                h1 {
                    color: #fbca49;
                    position: relative;
                    font-size: 2.8rem;
                }


                .menu-hero-buttons {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2rem;


                    a {
                        color: #fff;
                        text-decoration: none;
                        width: 35px;
                        padding: 0 0 2rem;
                    }
                }
            }
        }

        .menu-description {
            background-color: #000000e8;
            width: 100%;
            height: auto;


            p {
                margin: 0 auto;
                width: 750px;
                color: #fff;
                padding: 2rem 5rem;
                text-align: center;
            }

        }

        .menu-highlights {
            width: 100%;
            height: auto;
            max-width: 992px;
            display: flex;
            margin: 4rem auto;
            display: flex;
            justify-content: center;
            align-items: center;


            .menu-highlight-item {
                padding: 2rem 0;
                margin: 0 2rem;
                position: relative;

                .menu-highlight-item-img {
                    width: 196px;
                    height: 196px;
                    border-radius: 50%;
                    background-color: #000000;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        opacity: 0.7;
                    }

                }

                .menu-highlight-item-details {
                    h3 {
                        position: absolute;
                        top: 58%;
                        left: 50%;
                        transform: translate(-50%, -58%);
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        font-size: 1.6rem;
                        padding: 0;
                        background-color: #fbc949;
                        width: 246px;
                        height: 85px;
                        border-radius: 0;
                        border-radius: 0 1rem 1rem 1rem;
                    }

                    p {
                        max-width: 246px;
                    
                        margin: 2rem 0 0;
                        text-align: center;

                    }
                }
            }
        }

        .menu-products {
            padding: 0 1.5rem;
            
            .menu-product-content {
                // padding: 0;
                border-bottom: 1px solid #00000015;
                margin: 2rem 0 0;


                h2 {
                    color: #fbca49;
                    font-size: 30px;
                    
                }

                .menu-product-details {
                    padding: 0;
                    margin: 1rem 0 0;

                    h3 {
                        width: 100%;
                        font-size: 22px;   
                        color: #5a5a5a;
                    }

                    .menu-product-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        p {
                       
                      
                        }

                        #product-desc {
                            margin-right: 1.5rem;
                        }

                        #product-price {
                           font-size: 22px;
                        }
                    }
                }
            }
        }
    }

}