.menu-container {
    width: 100%;
    min-height: 100vh;
    //     // background-color: #121212;
    //     //   background: linear-gradient(to bottom,
    //     //                 #ffffff 0%,
    //     //                 #fffff0 20%,
    //     //                 #ffffe9 40%,
    //     //                 #fffff0 60%,
    //     //                 #ffffe9 80%,
    //     //                 #ffffff 100%);

    .menu-hero {
        width: 100%;
        height: 100%;
        position: relative;

        .menu-slider {
            width: 100%;
            height: 100%;
            background-color: #000;
            overflow: hidden;


            .menu-slider-img {
                width: 100%;
                height: 100vh;
                opacity: 0.7;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .menu-hero-content {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 91%;
            height: 70%;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-100%, -50%);
            background-color: #00000069;
            border-radius: 1rem 0 0 1rem;
            padding: 2rem 2rem;

            h1 {
                color: #fbca49;
                position: relative;
                font-size: 2.8rem;
            }

            h1::after {
                content: "";
                position: absolute;
                left: 0%;
                bottom: 0%;
                width: 15%;
                transform: translate(-0%, -0%);
                border-bottom: 1px solid #fbca49;
            }

            .menu-hero-buttons {
                display: flex;
                flex-direction: column;
                margin-top: 3rem;

                a {
                    color: #fff;
                    text-decoration: none;
                    margin: 0 0 2rem;
                    font-size: 1.5rem;
                    border-bottom: 1px solid #fbca49;
                    width: 35px;
                    padding: 0 0 0.2rem;
                    font-weight: 500;

                }
            }
        }
    }

    .menu-description {
        background-color: #000000e8;
        width: 100%;
        height: auto;

        p {
            font-size: 0.87rem;
            color: #fff;
            padding: 2rem 1rem;
            line-height: 1.6;
        }

    }

    .menu-highlights {
        width: 100%;
        height: auto;
        padding: 2rem 0;

        .menu-highlight-item {
            position: relative;
        text-align: center;

            .menu-highlight-item-img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background-color: #000000;
                margin: 0 auto;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    opacity: 0.7;
                }

            }
            .menu-highlight-item-details{
                h3{
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -45%);
                    color: #fbca49;
                    font-size: 1.7rem;
                    padding: 0 1rem;
                    // text-align: center;
                }
                
                p{
                    margin: 1rem 0 2rem;
                    font-size: 0.87rem;
                    padding: 0 3rem;

                }
            }
        }
    }
}