.f-footer {
    width: 100%;
    height: auto;
    padding: 4rem 0;
    background-color: #000000db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    .f-footer-img-container {
        width: 100%;
        height: 100%;
        text-align: center;

        img {
            height: 75px;
            height: 75px;
        }
    }

    .f-footer-icons-wrapper {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 3rem 0;

        .f-footer-icons {
            height: 48px;
            width: 48px;
            // background-color: aqua;
            border-radius: 50%;
            margin: 0 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid #ffd82b;

            svg {
                fill: #fff;
                font-size: 19px;
            }

        }

    }

    .f-footer-contact-info-wrapper {
        .f-footer-contact-wrapper {
            width: auto;
            height: auto;
            margin: 0 0 2rem;
            // margin-top: 58px;

            p {
                color: #fff;
                font-size: 20px;
                margin-bottom: 1rem;
                text-align: center;
            }

            a {
                .f-footer-icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    svg {
                        fill: #ffd82b;
                        font-size: 25px;
                    }

                }
            }
        }


        .f-footer-lc-wrapper {
            width: auto;
            height: auto;

            p {
                color: #fff;
                font-size: 20px;
                margin-bottom: 1rem;
                text-align: center;
            }

            a {
                .f-footer-icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    svg {
                        fill: #ffd82b;
                        font-size: 36px;
                    }

                }
            }
        }
    }

}