#about-container {
        width: 100%;
        height: auto;
        padding: 75px 0 0;
         
    .about-content {
        .about-slider-section{
            .about-slider {
                width: 100%;
                
                .about-slider-img {
                    width: 100%;
                    height: 50vh;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .aabout-description{
                padding: 4rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                        font-size: 2.6rem;
                    margin: 0 0 0.5rem;
                    color: #000000a8;

                }
                h3{
                     font-size: 1.8rem;
                    position: relative;
                    color: #fbca49;
                    margin: 0 0 2.5rem;
                    line-height: 1.5;
                }
                p{
                    color: #000000a8;
                    font-size: 18px;
                     font-weight: 100;
                       line-height: 1.5;

                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #about-container {
        width: 100%;
            height: auto;
            padding: 100px 3rem 0;
         
    
    .about-content {
        .about-latch-pizzeria{

        }
        .about-slider-section{
            display: flex;
            .about-slider {
                width: 55%;
                // height: 100px;
                
                .about-slider-img {
                    width: 100%;
                    height: 450px;
                    
                    img {
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .aabout-description{
                padding: 0 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                        font-size: 2.6rem;
                    margin: 0 0 0.5rem;
                    color: #000000a8;

                }
                h3{
                     font-size: 1.8rem;
                    position: relative;
                    color: #fbca49;
                    margin: 0 0 2.5rem;
                    line-height: 1.5;
                }
                p{
                    color: #000000a8;
                    font-size: 18px;
                     font-weight: 100;
                       line-height: 1.5;

                }
            }
        }
    }
}
}