//MOBILE SCSS
$lettersSize: 17px;
$linksSize: 16px;
$marginBottom: 1.5rem;
$marginTop: 1.5rem;

.home-container {
    width: 100%;
    height: 100%;

    .home-hero {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #000000;

        .home-hero-video {
            width: 100%;
            height: 100%;
            opacity: 0.7;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0%;
            }
        }

        .home-hero-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                color: #fbca49;
                font-size: 4rem;
                margin-bottom: 2.5rem;
            }

            button {
                background-color: #fbca49;
                border-style: none;
                display: block;
                border-radius: 0.5rem;
                padding:  1rem 2rem;
                margin: 0 auto;

                a {
                    font-size: 18px;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    .home-favorites {
        text-align: center;
        padding: 4rem 0 0;

        h2 {
            font-size: 2.6rem;
            color: #5a5a5a;
        }

        .home-favorites-content {
            padding: 2rem 0;
            position: relative;

            .home-favorites-img {
                width: 168px;
                height: 168px;
                border-radius: 50%;
                background-color: #000000;
                margin: 0 auto;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    opacity: 0.9;
                }
            }

            .home-favorites-info {
                margin: 1.5rem 0 0;

                h3 {
                    color: #fbca49;
                    font-size: 1.6rem;
                    margin: 0 0 1.5rem;
                }

                p {

                    max-width: 290px;

                    font-size: 18px;
                    font-weight: 100;
                    color: #000000a8;
                    margin: 0.5rem 0 0;
                    margin: 0 auto;


                }
            }
        }

        .home-favorites-content::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0%;
            width: 50%;
            transform: translate(-50%, -0%);
            border-bottom: 1px solid #fbca49;

        }
    }

    .home-about {
        width: 100%;
        height: auto;

        .home-about-content {
            width: 100%;
            height: auto;

            .home-about-img {
                width: 100%;
                height: 60vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 90% 0%;
                }
            }

            .home-about-text {
                width: 100%;
                height: auto;
                padding: 4rem 1rem;

                h2 {
                    font-size: 2.6rem;
                    margin: 0 0 0.5rem;
                    color: #000000a8;

                }

                h3 {
                    font-size: 1.8rem;
                    position: relative;
                    color: #fbca49;
                    margin: 0 0 2.5rem;
                }

                h3::after {
                    content: "";
                    position: absolute;
                    left: 0%;
                    bottom: 0%;
                    width: 35%;
                    transform: translate(-0%, -0%);
                    border-bottom: 1.5px solid #fbca49;
                    margin: -1.3rem 0;
                }

                p {
                    font-size: 18px;
                    font-weight: 100;
                    color: #000000a8;
                    line-height: 1.9;
                }
            }
        }
    }

    .home-hours {
        width: 100%;
        height: auto;

        .home-hours-img {
            width: 100%;
            height: 60vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .home-hours-content {
            text-align: center;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4rem 0;

            .home-hours-info {
                margin: 0 0 1.5rem;

                h2 {
                    font-size: 2.6rem;
                    color: #5a5a5a;
                    margin: 0 0 2rem
                }

                p {

                    margin: 0 0 1rem;
                    font-size: 22px;
                    font-weight: 100;
                    color: #000000a8;
                }
            }

            .home-hours-buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                button {
                    display: block;
                    background-color: #ffd82b;
                    padding: 0.8rem;
                    border-radius: 1.5rem;
                    border: none;
                    width: 150px;
                    margin: 0 0 1.5rem;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .home-container {
        width: 100%;
        height: 100%;

        .home-hero {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #000000;

            .home-hero-video {
                width: 100%;
                height: 100%;
                opacity: 0.7;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 0%;
                }
            }

            .home-hero-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                h1 {
                    color: #fbca49;
                    font-size: 4rem;
                    margin-bottom: 2.5rem;
                }

                button {
                padding:  0.8rem 1.6rem;
                    a {
                        font-size: 16px;
                    }
                }
            }
        }

        .home-favorites {
            max-width: 992px;
            text-align: center;
            padding: 4rem 0;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;

            h2 {
                width: 100%;
                font-size: 2.6rem;
                color: #5a5a5a;
            }

            .home-favorites-content {
                padding: 2rem 0;
                position: relative;
                width: calc(100% / 3 - 4rem);
                margin: 0 2rem;

                .home-favorites-img {
                    width: 196px;
                    height: 196px;
                    border-radius: 50%;
                    background-color: #000000;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        opacity: 0.9;
                    }
                }

                .home-favorites-info {
                    margin: 1.5rem 0 0;

                    h3 {
                        color: #fbca49;
                        font-size: 1.6rem;
                        margin: 0 0 1rem;
                    }

                    p {
                        padding: 0;
                    }
                }
            }

            .home-favorites-content::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0%;
                width: 100%;
                transform: translate(-50%, -0%);
                border-bottom: none;

            }
        }

        .home-about {
            width: 100%;
            height: 100%;

            //  border-top: 0.5px solid #fbca49;
            .home-about-content {
                width: 100%;
                height: 100%;
                display: flex;

                .home-about-img {
                    width: 50%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 100% 0%;
                    }
                }

                .home-about-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 50%;
                    height: 100%;
                    padding: 0 5rem;

                    h2 {
                        font-size: 3rem;
                        margin: 0 0 1rem;
                    }

                    h3 {
                        font-size: 2rem;
                        position: relative;
                        color: #fbca49;
                        margin: 0 0 3rem;
                    }

                    h3::after {
                        content: "";
                        position: absolute;
                        left: 0%;
                        bottom: 0%;
                        width: 45%;
                        transform: translate(-0%, -0%);
                        border-bottom: 2px solid #fbca49;
                        margin: -1.6rem 0;
                    }

                    p {}
                }
            }
        }

        .home-hours {
            width: 100%;
            height: 100%;
            position: relative;

            .home-hours-img {
                width: 50%;
                height: 100%;
                position: absolute;
                right: 0%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .home-hours-content {
                text-align: center;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;

                .home-hours-info {
                    margin: 0 0 1rem;

                    h2 {
                        font-size: 3rem;
                        color: #5a5a5a;
                        margin: 0 0 1rem;

                    }

                    p {
                        //  font-size: 0.87rem;
                        // margin: 0 0 1rem;
                        // font-weight: 400;
                    }

                }

                .home-hours-buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    button {
                        display: block;
                        background-color: #ffd82b;
                        padding: 0.8rem;
                        border-radius: 1.5rem;
                        border: none;
                        width: 150px;
                        margin: 0 0 1rem;

                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}